.app-layout {
    display: flex;
    height: 100vh;
    background: #f5f6fa;
}

.content-wrapper {
    margin-left: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    overflow-y: auto;
}
