.room-container {
    width: 100%;
    border-radius: 10px;
}

.room-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.room-table {
    width: 100%;
    border-collapse: collapse;
}

.room-table th,
.room-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.room-table th {
    color: black;
    text-transform: uppercase;
}

.room-table tr:hover {
    background-color: rgba(223, 221, 221, 0.15);
}

.room-table tbody tr:hover td {
    color: black;
}

.room-table td {
    color: #555;
}

@media (max-width: 768px) {
    .room-container {
        padding: 10px;
    }

    .room-table th,
    .room-table td {
        padding: 8px 10px;
    }
}
