.courses-page {
    padding: 20px;
    border-radius: 10px;
}

.courses-page h2 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin: 0;
}

.page-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
}

.add-btn {
    padding: 10px 16px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
}

.add-btn:hover {
    background: #3f3ac6;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
}

.course-table tbody tr {
    transition: background 0.25s ease;
}

.course-table tbody tr:hover td {
    background-color: rgba(223, 221, 221, 0.15);
    cursor: pointer;
    color: black;
}


.course-table th {
    background: rgba(191, 188, 188, 0.02);
    padding: 12px;
    text-align: left;
}

.course-table td {
    padding: 12px;
    color: #555;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.add-btn {
    background: #4c8bf5;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}


/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal card */
.modal-card {
    background: #fff;
    padding: 25px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.modal-card h3 {
    margin-bottom: 15px;
    text-align: center;
}

/* Form */
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-form input {
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.submit {
    padding: 10px 18px;
    background: #4c8bf5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel {
    padding: 10px 18px;
    background: #777;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.modal-form select {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #d0d7e2;
    border-radius: 6px;
    background: #fff;
    font-size: 15px;
    color: #333;
    outline: none;
    transition: all 0.25s ease;
    cursor: pointer;
    appearance: none;
    box-sizing: border-box;
}


